/* Table of Contents

	1) Parent Element
	2) Heading
	3) Content

*/


/* ---------- Parent Element ------------ */
/* Anything present in the element will be the primary styling unless specified in a child element. */

*
{
	margin: 0;
	padding: 0;
	font-family: "Roboto";
}

/* ---------- Heading ------------ */

.col-12
{
	background-color: orange;
	margin-bottom: 2em;
	padding: 1em;
}

.col-12 h1
{
	line-height: 1;
	margin-bottom: 0;
}

.col-12 p
{
	padding: 0.5em 0;
}
/* ---------- Content ------------ */

.col-4
{
	border: 1px solid lightgrey;
	border-spacing: 0;
	margin-bottom: .75em;
}

.img-responsive
{
	width: 100%;
}

.content
{
	padding: .5em;
}

.content h3
{
	margin-top: 0;
	margin-bottom: 0;
}

.content p
{
	padding: .5em 0;
}